@import './nullstyle.scss';

body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: rgb(212, 212, 212);
}

.header {

  &-block{
  padding: 10px;
  background-color: rgb(61, 61, 61);
  height: 45px;
  border-radius: 3px 3px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
  &-block__title{
  font-size: 20px;
  color: aliceblue;
}
  &-block__cross{
  width: 30px;
  height: 30px;
  background: url('../img/delete.png') 0 0 no-repeat;
}
  &-block__cross:hover{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('../img/close2.png') 0 0 no-repeat;
}
}

.short-info-card {
    background-color: #ffffff;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}

.image{
  max-height: 150px;
  max-width: 150px;
  border: 3px solid #f45c43;
  border-radius: 50%;
  & img {
    height: 100%;
  }
}

.info-component{
  padding: 25px;
  display: flex;
  justify-content: space-around;
}


.full {
  &-name{
    margin: auto 0;
    font-size: 30px;
}
}
.more-info {
  padding: 25px;
  height: 95px;
  &__button{
    height: 100%;
    width: 100%;
    transition-duration: 300ms;

    font-weight: 600;
    color: #f45c43;
    border: 1px solid #f45c43;
    background-color: rgb(255, 255, 255);
}
  &__button:hover {
    font-weight: 600;
    color: #fefefe;
    border: 1px solid #f45c43;
    background-color: #f45c43;
  }
  &__button:active {
    font-weight: 600;
    color: #fefefe;
    border: 1px solid #8a2110;
    background-color: #8a2110;
  }
}
