.statistics {
  margin-bottom: 3rem;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 35px;
    font-weight: 600;
  
    height: 112px;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: black;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      top: 0;
    }
  }
  p{
    text-align: center;
  }
  .statistics__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    .statistics__header {
      border-bottom: 1px solid #4c4c4c;
    }

    th {
      font-weight: 400;
      font-size: 1.25rem;

      &:hover {
        border-bottom: 5px solid black;
      }
    }

    td, th {
      text-align: center;
      padding: .5rem 1rem;
    }

    tr:nth-child(even) {
      background-color: rgba(193, 193, 193, 0.34);
    }

    th:nth-child(1), td:nth-child(1) {
      float: left;
    }
  }

  .pagination-numbers {
    a {
      text-decoration: none;
      color: #649cb7;
      font-size: 1.25rem;
      padding: .5rem;
    }
  }
}
