.input {
  font-size: 14px;
  border: 1px solid #787878;
  padding: 0.5rem;
  width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}