.table {
  text-align: center;
  width: 100%;
  line-height: 25px;
  border-collapse: collapse;
}
.table-head {
  position: relative;
}
.table-head::after {
  content: "";
  background-color: black;
  position: absolute;
  right: 0;
  top: 23px;
  height: 1px;
  width: 100%;
}
.table-body tr {
  line-height: 35px;
}
.table-body tr td {
  width: 20%;
}
.table-body .left {
  text-align: left;
  padding-left: 10px;
}
.table-body tr:nth-child(odd) {
  background-color: #faf5fb;
}