.full-teacher-card {
  section {
    margin-bottom: 1rem
  }

  .full-teacher-card__header {
    display: flex;
    padding-bottom: 1rem;

    .teacher-card__img {
      flex-basis: 33.33333%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .teacher-card__info {
      margin-left: 1rem;

      h1 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      p, a {
        padding-bottom: 1rem;
      }
    }

  }

  .map {
    height: 200px;
    background-color: gray;
  }

  section a {
    border-bottom: dotted 1px blue;
    text-decoration: none;
  }
}

.add_button {
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;

  color: #f75c48;
  border: 1px solid #f75c48;
  background-color: rgb(255, 255, 255);

  transition-duration: 300ms;
  &:hover {
    color: #fefefe;
    border: 1px solid #f75c48;
    background-color: #f75c48;
  }
  &:active {
    color: #fefefe;
    border: 1px solid #8a2110;
    background-color: #8a2110;
  }
}